@page "/"
@layout AuthLayout
@inject NavigationManager Nav

<EditForm Model="@this" OnSubmit="Submit">

    <div class="auth-login">

        <div class="auth-logo">
            <img src="images/Icon.jpg" alt="Sultan Cups Logo" />
        </div>

        <h2 class="auth-title">تسجيل الدخول</h2>

        <div class="auth-fields">

            <div class="auth-field">
                <label>اسم المسؤول</label>
                <input placeholder="اكتب اسمك الكامل"
                       maxlength="40"
                       @bind="fullName"
                       disabled="@isLoading" />
            </div>

            <div class="auth-field auth-password">
                <label>كلمة المرور</label>

                <input type="@passwordType"
                       placeholder="أدخل كلمة المرور"
                       maxlength="40"
                       @bind="password"
                       disabled="@isLoading" />

                <button type="button"
                        class="auth-toggle"
                        @onclick="TogglePassword"
                        disabled="@isLoading">
                    @(passwordType == "password" ? "إظهار" : "إخفاء")
                </button>
            </div>

        </div>

        <button type="submit"
                class="auth-btn @(isLoading ? "is-busy" : "")"
                disabled="@isLoading">
            @(isLoading ? "جاري المعالجة..." : "دخول")
        </button>

     
    </div>
</EditForm>

@if (showDialog)
{
    <div class="auth-dialog">
        <div class="auth-dialog-box @dialogType">
            <div class="auth-dialog-icon">@dialogIcon</div>
            <p>@dialogMessage</p>
            <button @onclick="CloseDialog">حسناً</button>
        </div>
    </div>
}

@code {
    string fullName = "";
    string password = "";
    string passwordType = "password";

    bool isLoading = false;

    bool showDialog = false;
    string dialogMessage = "";
    string dialogType = "";
    string dialogIcon = "";

    void TogglePassword()
        => passwordType = passwordType == "password" ? "text" : "password";


    async Task Submit()
    {
        if (isLoading) return;

        isLoading = true;
        await Task.Delay(400);

        Nav.NavigateTo("/Stats");
        isLoading = false; // احتياط
    }
    void CloseDialog() => showDialog = false;
}