<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["css/auth.css"]" />
    <link rel="stylesheet" href="@Assets["css/Home.css"]" />
    <link rel="stylesheet" href="@Assets["css/Settings.css"]" />
    <link rel="stylesheet" href="@Assets["SultanCups.styles.css"]" />
    <link rel="stylesheet" href="@Assets["css/Admins.css"]" />
    <link rel="stylesheet" href="@Assets["css/Employees.css"]" />
    <link rel="stylesheet" href="@Assets["css/Salaries.css"]" />
    <link rel="stylesheet" href="@Assets["css/Marketers.css"]" />
    <link rel="stylesheet" href="@Assets["css/RawMaterials.css"]" />
    <link rel="stylesheet" href="@Assets["css/Orders.css"]" />\
    <link rel="stylesheet" href="@Assets["css/Sales-payments.css"]" />
    <link rel="stylesheet" href="@Assets["css/Debts.css"]" />
    <link rel="stylesheet" href="@Assets["css/Products.css"]" />
    <link rel="stylesheet" href="@Assets["css/Production.css"]" />
    <link rel="stylesheet" href="@Assets["css/OtherExpenses.css"]" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
